@charset "UTF-8";
div {
  box-sizing: border-box;
  border: 1px solid orangered;
}

@media screen and (min-width: 0) {
  [class*="/"] {
    --b: 0;
    --i: 0;
  }

  [class*="/"]:not([class*="/0)"]) {
    --o: 0;
    --n: 0;
  }

  [class*="1/"] {
    --b: 1;
  }

  [class*="2/"] {
    --b: 2;
  }

  [class*="3/"] {
    --b: 3;
  }

  [class*="4/"] {
    --b: 4;
  }

  [class*="5/"] {
    --b: 5;
  }

  [class*="6/"] {
    --b: 6;
  }

  [class*="7/"] {
    --b: 7;
  }

  [class*="8/"] {
    --b: 8;
  }

  [class*="9/"] {
    --b: 9;
  }

  [class*="(1"]:not([class*="(1/"]) {
    --o: 1;
  }

  [class*="(2"]:not([class*="(2/"]) {
    --o: 2;
  }

  [class*="(3"]:not([class*="(3/"]) {
    --o: 3;
  }

  [class*="(4"]:not([class*="(4/"]) {
    --o: 4;
  }

  [class*="(5"]:not([class*="(5/"]) {
    --o: 5;
  }

  [class*="(6"]:not([class*="(6/"]) {
    --o: 6;
  }

  [class*="(7"]:not([class*="(7/"]) {
    --o: 7;
  }

  [class*="(8"]:not([class*="(8/"]) {
    --o: 8;
  }

  [class*="(9"]:not([class*="(9/"]) {
    --o: 9;
  }

  [class*="(100"]:not([class*="(10/"]) {
    --o: 10;
  }

  [class*="1)"] {
    --i: 1;
  }

  [class*="2)"] {
    --i: 2;
  }

  [class*="3)"] {
    --i: 3;
  }

  [class*="4)"] {
    --i: 4;
  }

  [class*="5)"] {
    --i: 5;
  }

  [class*="6)"] {
    --i: 6;
  }

  [class*="7)"] {
    --i: 7;
  }

  [class*="8)"] {
    --i: 8;
  }

  [class*="9)"] {
    --i: 9;
  }

  [class*="/1"]:not([class*="/1)"]) {
    --n: 1;
  }

  [class*="/2"]:not([class*="/2)"]) {
    --n: 2;
  }

  [class*="/3"]:not([class*="/3)"]) {
    --n: 3;
  }

  [class*="/4"]:not([class*="/4)"]) {
    --n: 4;
  }

  [class*="/5"]:not([class*="/5)"]) {
    --n: 5;
  }

  [class*="/6"]:not([class*="/6)"]) {
    --n: 6;
  }

  [class*="/7"]:not([class*="/7)"]) {
    --n: 7;
  }

  [class*="/8"]:not([class*="/8)"]) {
    --n: 8;
  }

  [class*="/9"]:not([class*="/9)"]) {
    --n: 9;
  }

  [class*="/10"]:not([class*="/10)"]) {
    --n: 10;
  }

  [class*=görünür] {
    display: inherit;
  }

  [class*=gizli] {
    display: none;
  }

  [class*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }

  [class*=block] {
    display: block;
  }
}
[\.koca*="/"]:not([\.koca*="/0)"]), [\.büyük*="/"]:not([\.büyük*="/0)"]), [\.orta*="/"]:not([\.orta*="/0)"]), [\.küçük*="/"]:not([\.küçük*="/0)"]), [class*="/"]:not([class*="/0)"]) {
  float: left;
  width: calc(100% * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i)));
}

[\.koca*="/0)"], [\.büyük*="/0)"], [\.orta*="/0)"], [\.küçük*="/0)"], [class*="/0)"] {
  flex: calc(100% * (var(--eo) * 10 + var(--eb)));
}

@media screen and (min-width: 576px) {
  [\.küçük*="/"] {
    --b: 0;
    --i: 0;
  }

  [\.küçük*="/"]:not([\.küçük*="/0)"]) {
    --o: 0;
    --n: 0;
  }

  [\.küçük*="1/"] {
    --b: 1;
  }

  [\.küçük*="2/"] {
    --b: 2;
  }

  [\.küçük*="3/"] {
    --b: 3;
  }

  [\.küçük*="4/"] {
    --b: 4;
  }

  [\.küçük*="5/"] {
    --b: 5;
  }

  [\.küçük*="6/"] {
    --b: 6;
  }

  [\.küçük*="7/"] {
    --b: 7;
  }

  [\.küçük*="8/"] {
    --b: 8;
  }

  [\.küçük*="9/"] {
    --b: 9;
  }

  [\.küçük*="(1"]:not([\.küçük*="(1/"]) {
    --o: 1;
  }

  [\.küçük*="(2"]:not([\.küçük*="(2/"]) {
    --o: 2;
  }

  [\.küçük*="(3"]:not([\.küçük*="(3/"]) {
    --o: 3;
  }

  [\.küçük*="(4"]:not([\.küçük*="(4/"]) {
    --o: 4;
  }

  [\.küçük*="(5"]:not([\.küçük*="(5/"]) {
    --o: 5;
  }

  [\.küçük*="(6"]:not([\.küçük*="(6/"]) {
    --o: 6;
  }

  [\.küçük*="(7"]:not([\.küçük*="(7/"]) {
    --o: 7;
  }

  [\.küçük*="(8"]:not([\.küçük*="(8/"]) {
    --o: 8;
  }

  [\.küçük*="(9"]:not([\.küçük*="(9/"]) {
    --o: 9;
  }

  [\.küçük*="(100"]:not([\.küçük*="(10/"]) {
    --o: 10;
  }

  [\.küçük*="1)"] {
    --i: 1;
  }

  [\.küçük*="2)"] {
    --i: 2;
  }

  [\.küçük*="3)"] {
    --i: 3;
  }

  [\.küçük*="4)"] {
    --i: 4;
  }

  [\.küçük*="5)"] {
    --i: 5;
  }

  [\.küçük*="6)"] {
    --i: 6;
  }

  [\.küçük*="7)"] {
    --i: 7;
  }

  [\.küçük*="8)"] {
    --i: 8;
  }

  [\.küçük*="9)"] {
    --i: 9;
  }

  [\.küçük*="/1"]:not([\.küçük*="/1)"]) {
    --n: 1;
  }

  [\.küçük*="/2"]:not([\.küçük*="/2)"]) {
    --n: 2;
  }

  [\.küçük*="/3"]:not([\.küçük*="/3)"]) {
    --n: 3;
  }

  [\.küçük*="/4"]:not([\.küçük*="/4)"]) {
    --n: 4;
  }

  [\.küçük*="/5"]:not([\.küçük*="/5)"]) {
    --n: 5;
  }

  [\.küçük*="/6"]:not([\.küçük*="/6)"]) {
    --n: 6;
  }

  [\.küçük*="/7"]:not([\.küçük*="/7)"]) {
    --n: 7;
  }

  [\.küçük*="/8"]:not([\.küçük*="/8)"]) {
    --n: 8;
  }

  [\.küçük*="/9"]:not([\.küçük*="/9)"]) {
    --n: 9;
  }

  [\.küçük*="/10"]:not([\.küçük*="/10)"]) {
    --n: 10;
  }

  [\.küçük*=görünür] {
    display: inherit;
  }

  [\.küçük*=gizli] {
    display: none;
  }

  [\.küçük*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }

  [\.küçük*=block] {
    display: block;
  }
}
[\.koca*="/"]:not([\.koca*="/0)"]), [\.büyük*="/"]:not([\.büyük*="/0)"]), [\.orta*="/"]:not([\.orta*="/0)"]), [\.küçük*="/"]:not([\.küçük*="/0)"]), [class*="/"]:not([class*="/0)"]) {
  float: left;
  width: calc(100% * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i)));
}

[\.koca*="/0)"], [\.büyük*="/0)"], [\.orta*="/0)"], [\.küçük*="/0)"], [class*="/0)"] {
  flex: calc(100% * (var(--eo) * 10 + var(--eb)));
}

@media screen and (min-width: 768px) {
  [\.orta*="/"] {
    --b: 0;
    --i: 0;
  }

  [\.orta*="/"]:not([\.orta*="/0)"]) {
    --o: 0;
    --n: 0;
  }

  [\.orta*="1/"] {
    --b: 1;
  }

  [\.orta*="2/"] {
    --b: 2;
  }

  [\.orta*="3/"] {
    --b: 3;
  }

  [\.orta*="4/"] {
    --b: 4;
  }

  [\.orta*="5/"] {
    --b: 5;
  }

  [\.orta*="6/"] {
    --b: 6;
  }

  [\.orta*="7/"] {
    --b: 7;
  }

  [\.orta*="8/"] {
    --b: 8;
  }

  [\.orta*="9/"] {
    --b: 9;
  }

  [\.orta*="(1"]:not([\.orta*="(1/"]) {
    --o: 1;
  }

  [\.orta*="(2"]:not([\.orta*="(2/"]) {
    --o: 2;
  }

  [\.orta*="(3"]:not([\.orta*="(3/"]) {
    --o: 3;
  }

  [\.orta*="(4"]:not([\.orta*="(4/"]) {
    --o: 4;
  }

  [\.orta*="(5"]:not([\.orta*="(5/"]) {
    --o: 5;
  }

  [\.orta*="(6"]:not([\.orta*="(6/"]) {
    --o: 6;
  }

  [\.orta*="(7"]:not([\.orta*="(7/"]) {
    --o: 7;
  }

  [\.orta*="(8"]:not([\.orta*="(8/"]) {
    --o: 8;
  }

  [\.orta*="(9"]:not([\.orta*="(9/"]) {
    --o: 9;
  }

  [\.orta*="(100"]:not([\.orta*="(10/"]) {
    --o: 10;
  }

  [\.orta*="1)"] {
    --i: 1;
  }

  [\.orta*="2)"] {
    --i: 2;
  }

  [\.orta*="3)"] {
    --i: 3;
  }

  [\.orta*="4)"] {
    --i: 4;
  }

  [\.orta*="5)"] {
    --i: 5;
  }

  [\.orta*="6)"] {
    --i: 6;
  }

  [\.orta*="7)"] {
    --i: 7;
  }

  [\.orta*="8)"] {
    --i: 8;
  }

  [\.orta*="9)"] {
    --i: 9;
  }

  [\.orta*="/1"]:not([\.orta*="/1)"]) {
    --n: 1;
  }

  [\.orta*="/2"]:not([\.orta*="/2)"]) {
    --n: 2;
  }

  [\.orta*="/3"]:not([\.orta*="/3)"]) {
    --n: 3;
  }

  [\.orta*="/4"]:not([\.orta*="/4)"]) {
    --n: 4;
  }

  [\.orta*="/5"]:not([\.orta*="/5)"]) {
    --n: 5;
  }

  [\.orta*="/6"]:not([\.orta*="/6)"]) {
    --n: 6;
  }

  [\.orta*="/7"]:not([\.orta*="/7)"]) {
    --n: 7;
  }

  [\.orta*="/8"]:not([\.orta*="/8)"]) {
    --n: 8;
  }

  [\.orta*="/9"]:not([\.orta*="/9)"]) {
    --n: 9;
  }

  [\.orta*="/10"]:not([\.orta*="/10)"]) {
    --n: 10;
  }

  [\.orta*=görünür] {
    display: inherit;
  }

  [\.orta*=gizli] {
    display: none;
  }

  [\.orta*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }

  [\.orta*=block] {
    display: block;
  }
}
[\.koca*="/"]:not([\.koca*="/0)"]), [\.büyük*="/"]:not([\.büyük*="/0)"]), [\.orta*="/"]:not([\.orta*="/0)"]), [class*="/"]:not([class*="/0)"]), [\.küçük*="/"]:not([\.küçük*="/0)"]) {
  float: left;
  width: calc(100% * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i)));
}

[\.koca*="/0)"], [\.büyük*="/0)"], [\.orta*="/0)"], [class*="/0)"], [\.küçük*="/0)"] {
  flex: calc(100% * (var(--eo) * 10 + var(--eb)));
}

@media screen and (min-width: 992px) {
  [\.büyük*="/"] {
    --b: 0;
    --i: 0;
  }

  [\.büyük*="/"]:not([\.büyük*="/0)"]) {
    --o: 0;
    --n: 0;
  }

  [\.büyük*="1/"] {
    --b: 1;
  }

  [\.büyük*="2/"] {
    --b: 2;
  }

  [\.büyük*="3/"] {
    --b: 3;
  }

  [\.büyük*="4/"] {
    --b: 4;
  }

  [\.büyük*="5/"] {
    --b: 5;
  }

  [\.büyük*="6/"] {
    --b: 6;
  }

  [\.büyük*="7/"] {
    --b: 7;
  }

  [\.büyük*="8/"] {
    --b: 8;
  }

  [\.büyük*="9/"] {
    --b: 9;
  }

  [\.büyük*="(1"]:not([\.büyük*="(1/"]) {
    --o: 1;
  }

  [\.büyük*="(2"]:not([\.büyük*="(2/"]) {
    --o: 2;
  }

  [\.büyük*="(3"]:not([\.büyük*="(3/"]) {
    --o: 3;
  }

  [\.büyük*="(4"]:not([\.büyük*="(4/"]) {
    --o: 4;
  }

  [\.büyük*="(5"]:not([\.büyük*="(5/"]) {
    --o: 5;
  }

  [\.büyük*="(6"]:not([\.büyük*="(6/"]) {
    --o: 6;
  }

  [\.büyük*="(7"]:not([\.büyük*="(7/"]) {
    --o: 7;
  }

  [\.büyük*="(8"]:not([\.büyük*="(8/"]) {
    --o: 8;
  }

  [\.büyük*="(9"]:not([\.büyük*="(9/"]) {
    --o: 9;
  }

  [\.büyük*="(100"]:not([\.büyük*="(10/"]) {
    --o: 10;
  }

  [\.büyük*="1)"] {
    --i: 1;
  }

  [\.büyük*="2)"] {
    --i: 2;
  }

  [\.büyük*="3)"] {
    --i: 3;
  }

  [\.büyük*="4)"] {
    --i: 4;
  }

  [\.büyük*="5)"] {
    --i: 5;
  }

  [\.büyük*="6)"] {
    --i: 6;
  }

  [\.büyük*="7)"] {
    --i: 7;
  }

  [\.büyük*="8)"] {
    --i: 8;
  }

  [\.büyük*="9)"] {
    --i: 9;
  }

  [\.büyük*="/1"]:not([\.büyük*="/1)"]) {
    --n: 1;
  }

  [\.büyük*="/2"]:not([\.büyük*="/2)"]) {
    --n: 2;
  }

  [\.büyük*="/3"]:not([\.büyük*="/3)"]) {
    --n: 3;
  }

  [\.büyük*="/4"]:not([\.büyük*="/4)"]) {
    --n: 4;
  }

  [\.büyük*="/5"]:not([\.büyük*="/5)"]) {
    --n: 5;
  }

  [\.büyük*="/6"]:not([\.büyük*="/6)"]) {
    --n: 6;
  }

  [\.büyük*="/7"]:not([\.büyük*="/7)"]) {
    --n: 7;
  }

  [\.büyük*="/8"]:not([\.büyük*="/8)"]) {
    --n: 8;
  }

  [\.büyük*="/9"]:not([\.büyük*="/9)"]) {
    --n: 9;
  }

  [\.büyük*="/10"]:not([\.büyük*="/10)"]) {
    --n: 10;
  }

  [\.büyük*=görünür] {
    display: inherit;
  }

  [\.büyük*=gizli] {
    display: none;
  }

  [\.büyük*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }

  [\.büyük*=block] {
    display: block;
  }
}
[\.koca*="/"]:not([\.koca*="/0)"]), [\.büyük*="/"]:not([\.büyük*="/0)"]), [class*="/"]:not([class*="/0)"]), [\.küçük*="/"]:not([\.küçük*="/0)"]), [\.orta*="/"]:not([\.orta*="/0)"]) {
  float: left;
  width: calc(100% * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i)));
}

[\.koca*="/0)"], [\.büyük*="/0)"], [class*="/0)"], [\.küçük*="/0)"], [\.orta*="/0)"] {
  flex: calc(100% * (var(--eo) * 10 + var(--eb)));
}

@media screen and (min-width: 1200px) {
  [\.koca*="/"] {
    --b: 0;
    --i: 0;
  }

  [\.koca*="/"]:not([\.koca*="/0)"]) {
    --o: 0;
    --n: 0;
  }

  [\.koca*="1/"] {
    --b: 1;
  }

  [\.koca*="2/"] {
    --b: 2;
  }

  [\.koca*="3/"] {
    --b: 3;
  }

  [\.koca*="4/"] {
    --b: 4;
  }

  [\.koca*="5/"] {
    --b: 5;
  }

  [\.koca*="6/"] {
    --b: 6;
  }

  [\.koca*="7/"] {
    --b: 7;
  }

  [\.koca*="8/"] {
    --b: 8;
  }

  [\.koca*="9/"] {
    --b: 9;
  }

  [\.koca*="(1"]:not([\.koca*="(1/"]) {
    --o: 1;
  }

  [\.koca*="(2"]:not([\.koca*="(2/"]) {
    --o: 2;
  }

  [\.koca*="(3"]:not([\.koca*="(3/"]) {
    --o: 3;
  }

  [\.koca*="(4"]:not([\.koca*="(4/"]) {
    --o: 4;
  }

  [\.koca*="(5"]:not([\.koca*="(5/"]) {
    --o: 5;
  }

  [\.koca*="(6"]:not([\.koca*="(6/"]) {
    --o: 6;
  }

  [\.koca*="(7"]:not([\.koca*="(7/"]) {
    --o: 7;
  }

  [\.koca*="(8"]:not([\.koca*="(8/"]) {
    --o: 8;
  }

  [\.koca*="(9"]:not([\.koca*="(9/"]) {
    --o: 9;
  }

  [\.koca*="(100"]:not([\.koca*="(10/"]) {
    --o: 10;
  }

  [\.koca*="1)"] {
    --i: 1;
  }

  [\.koca*="2)"] {
    --i: 2;
  }

  [\.koca*="3)"] {
    --i: 3;
  }

  [\.koca*="4)"] {
    --i: 4;
  }

  [\.koca*="5)"] {
    --i: 5;
  }

  [\.koca*="6)"] {
    --i: 6;
  }

  [\.koca*="7)"] {
    --i: 7;
  }

  [\.koca*="8)"] {
    --i: 8;
  }

  [\.koca*="9)"] {
    --i: 9;
  }

  [\.koca*="/1"]:not([\.koca*="/1)"]) {
    --n: 1;
  }

  [\.koca*="/2"]:not([\.koca*="/2)"]) {
    --n: 2;
  }

  [\.koca*="/3"]:not([\.koca*="/3)"]) {
    --n: 3;
  }

  [\.koca*="/4"]:not([\.koca*="/4)"]) {
    --n: 4;
  }

  [\.koca*="/5"]:not([\.koca*="/5)"]) {
    --n: 5;
  }

  [\.koca*="/6"]:not([\.koca*="/6)"]) {
    --n: 6;
  }

  [\.koca*="/7"]:not([\.koca*="/7)"]) {
    --n: 7;
  }

  [\.koca*="/8"]:not([\.koca*="/8)"]) {
    --n: 8;
  }

  [\.koca*="/9"]:not([\.koca*="/9)"]) {
    --n: 9;
  }

  [\.koca*="/10"]:not([\.koca*="/10)"]) {
    --n: 10;
  }

  [\.koca*=görünür] {
    display: inherit;
  }

  [\.koca*=gizli] {
    display: none;
  }

  [\.koca*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }

  [\.koca*=block] {
    display: block;
  }
}
[\.koca*="/"]:not([\.koca*="/0)"]), [class*="/"]:not([class*="/0)"]), [\.küçük*="/"]:not([\.küçük*="/0)"]), [\.orta*="/"]:not([\.orta*="/0)"]), [\.büyük*="/"]:not([\.büyük*="/0)"]) {
  float: left;
  width: calc(100% * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i)));
}

[\.koca*="/0)"], [class*="/0)"], [\.küçük*="/0)"], [\.orta*="/0)"], [\.büyük*="/0)"] {
  flex: calc(100% * (var(--eo) * 10 + var(--eb)));
}/*# sourceMappingURL=deveb.css.map */