//      SÖZLÜK
//      ????? = pixel = px
//      ????? = margin
//      ????? = padding
//      ????? = etiket = tag
//      çapa  = anchor = a

@mixin damgalık($veri) {
    @charset "#{$veri}";
}


// A
$çapa: a;
$bilinmiyor: abbr;
$bilinmiyor: acronym;
$yeradı: address; // karşılık önerisi
$bilinmiyor: applet;
$bilinmiyor: area;
$bilinmiyor: article;
$bilinmiyor: aside;
$bilinmiyor: audio;
$bilinmiyor: align-content;
$bilinmiyor: align-items;
$bilinmiyor: align-self;
$bilinmiyor: all;
$bilinmiyor: animation;
$bilinmiyor: animation-delay;
$bilinmiyor: animation-direction;
$bilinmiyor: animation-duration;
$bilinmiyor: animation-fill-mode;
$bilinmiyor: animation-iteration-count;
$bilinmiyor: animation-name;
$bilinmiyor: animation-play-state;
$bilinmiyor: animation-timing-function;
// B
 
$kalın: b; // yaygın karşılık
$taban: base; // Yaygın karşılık, duruma göre değiştirebiliriz
$bilinmiyor: basefont;
$bilinmiyor: bdi;
$bilinmiyor: bdo;
$bilinmiyor: bgsound;
$bilinmiyor: big;
$bilinmiyor: blink;
$kesek: block;
$bilinmiyor: blockquote;
$bilinmiyor: body;
$bilinmiyor: br;
$düğme: button; // kesin karşılık
$bilinmiyor: backface-visibility;
$yerarkası: background;
$bilinmiyor: background-attachment;
$bilinmiyor: background-blend-mode;
$bilinmiyor: background-clip;
$yerarkası-rengi: background-color;
$yerarkası-tüsü: background-color;
$bilinmiyor: background-image;
$bilinmiyor: background-origin;
$bilinmiyor: background-position;
$bilinmiyor: background-repeat;
$bilinmiyor: background-size;
$bilinmiyor: border;
$bilinmiyor: border-bottom;
$bilinmiyor: border-bottom-color;
$bilinmiyor: border-bottom-left-radius;
$bilinmiyor: border-bottom-right-radius;
$bilinmiyor: border-bottom-style;
$bilinmiyor: border-bottom-width;
$bilinmiyor: border-collapse;
$bilinmiyor: border-color;
$bilinmiyor: border-image;
$bilinmiyor: border-image-outset;
$bilinmiyor: border-image-repeat;
$bilinmiyor: border-image-slice;
$bilinmiyor: border-image-source;
$bilinmiyor: border-image-width;
$bilinmiyor: border-left;
$bilinmiyor: border-left-color;
$bilinmiyor: border-left-style;
$bilinmiyor: border-left-width;
$bilinmiyor: border-radius;
$bilinmiyor: border-right;
$bilinmiyor: border-right-color;
$bilinmiyor: border-right-style;
$bilinmiyor: border-right-width;
$bilinmiyor: border-spacing;
$bilinmiyor: border-style;
$bilinmiyor: border-top;
$bilinmiyor: border-top-color;
$bilinmiyor: border-top-left-radius;
$bilinmiyor: border-top-right-radius;
$bilinmiyor: border-top-style;
$bilinmiyor: border-top-width;
$bilinmiyor: border-width;
$alt: bottom;
$bilinmiyor: box-shadow;
$bilinmiyor: box-sizing;
$bilinmiyor: break-after;
$bilinmiyor: break-before;
$bilinmiyor: break-inside;
// C
$bilinmiyor: canvas;
$bilinmiyor: caption;
$hesap: calc;
$orta: center;
$bilinmiyor: cite;
$bilinmiyor: code;
$bilinmiyor: col;
$bilinmiyor: colgroup;
$bilinmiyor: content;
$bilinmiyor: caption-side;
$bilinmiyor: caret-color;
$charset: charset;
$bilinmiyor: clear;
$bilinmiyor: clip;
$tüs: color; 
$renk: color; // color = tüs = renk
$bilinmiyor: column-count;
$bilinmiyor: column-fill;
$bilinmiyor: column-gap;
$bilinmiyor: column-rule;
$bilinmiyor: column-rule-color;
$bilinmiyor: column-rule-style;
$bilinmiyor: column-rule-width;
$bilinmiyor: column-span;
$bilinmiyor: column-width;
$bilinmiyor: columns;
$bilinmiyor: content;
$bilinmiyor: counter-increment;
$bilinmiyor: counter-reset;
$bilinmiyor: cursor;
// D
$veri: data; // yaygın karşılık
$veridizmesi: datalist;
$bilinmiyor: dd;
$bilinmiyor: del;
$bilinmiyor: details;
$bilinmiyor: dfn;
$bilinmiyor: dialog;
$bilinmiyor: dir;
$bilinmiyor: div;
$bilinmiyor: dl;
$bilinmiyor: dt;
$bilinmiyor: direction;
$sergi: display; // kesin olmayan karşılık önerisi
// E
$bilinmiyor: em;
$bilinmiyor: embed;
$bilinmiyor: empty-cells;
// F
$bilinmiyor: fieldset;
$bilinmiyor: figcaption;
$bilinmiyor: figure;
$bilinmiyor: font;
$bilinmiyor: footer;
$bilinmiyor: form;
$bilinmiyor: frame;
$bilinmiyor: frameset;
$bilinmiyor: filter;
$esneklik: flex;
$bilinmiyor: flex-basis;
$bilinmiyor: flex-direction;
$bilinmiyor: flex-flow;
$bilinmiyor: flex-grow;
$bilinmiyor: flex-shrink;
$bilinmiyor: flex-wrap;
$bilinmiyor: float;
$bilinmiyor: font;
$bilinmiyor: "@font-face";
$bilinmiyor: font-family;
$bilinmiyor: font-feature-settings;
$bilinmiyor: "@font-feature-values";
$bilinmiyor: font-kerning;
$bilinmiyor: font-language-override;
$bilinmiyor: font-size;
$bilinmiyor: font-size-adjust;
$bilinmiyor: font-stretch;
$bilinmiyor: font-style;
$bilinmiyor: font-synthesis;
$bilinmiyor: font-variant;
$bilinmiyor: font-variant-alternates;
$bilinmiyor: font-variant-caps;
$bilinmiyor: font-variant-variant-east-asian;
$bilinmiyor: font-variant-ligatures;
$bilinmiyor: font-variant-numeric;
$bilinmiyor: font-variant-position;
$bilinmiyor: font-weight;
// G H
$bilinmiyor: gap;
$bilinmiyor: grid;
$bilinmiyor: grid-area;
$bilinmiyor: grid-auto-columns;
$bilinmiyor: grid-auto-flow;
$bilinmiyor: grid-auto-rows;
$bilinmiyor: grid-column;
$bilinmiyor: grid-column-end;
$bilinmiyor: grid-column-gap;
$bilinmiyor: grid-column-start;
$bilinmiyor: grid-gap;
$bilinmiyor: grid-row;
$bilinmiyor: grid-row-end;
$bilinmiyor: grid-row-gap;
$bilinmiyor: grid-row-start;
$bilinmiyor: grid-template;
$bilinmiyor: grid-template-areas;
$bilinmiyor: grid-template-columns;
$bilinmiyor: grid-template-rows;
$bilinmiyor: heading_elements;
$baş: head;
$başlık: header;
$b1: h1;
$b2: h2;
$b3: h3;
$b4: h4;
$b5: h5;
$b6: h6;
$bilinmiyor: hgroup;
$bilinmiyor: hr;
$bilinmiyor: html;
$bilinmiyor: hanging-punctuation;
$yükseklik: height;
$bilinmiyor: hyphens;
// I
$eğik: i; // kesin karşılık
$bilinmiyor: iframe;
$bilinmiyor: img;
$bilinmiyor: input;
$bilinmiyor: ins;
$bilinmiyor: isindex;
$bilinmiyor: image-rendering;
$bilinmiyor: "@import";
$bilinmiyor: isolation;
// J K
$bilinmiyor: justify-content;
$bilinmiyor: justify;
$tuşluk: kbd; // karşılık önerisi. (Tuş sözcüğümüz Fransızca değil, Türkçe kökenlidir. Fransızcadaki sözcüğe denk düşmesi tesadüftür.)
$bilinmiyor: keygen;
$bilinmiyor: "@keyframes";
// L
$kolan: label; // karşılık önerisi
$bilinmiyor: legend;
$bilinmiyor: li;
$örk: link; // karşılık önerisi
$dizme: listing; // dizim ve dizme sözcükleri Kazak ve Kırgız Türkçelerinde karşımıza çıkıyor, irdelenmeye açık karşılık önerisi
$sol: left;
$bilinmiyor: letter-spacing;
$bilinmiyor: line-break;
$bilinmiyor: line-height;
$bilinmiyor: line-style;
$bilinmiyor: list-style;
$bilinmiyor: list-style-image;
$bilinmiyor: list-style-position;
$bilinmiyor: list-style-type;
// M
$bilinmiyor: main;
$bilinmiyor: map;
$bilinmiyor: mark;
$bilinmiyor: marquee;
$bilinmiyor: menu;
$bilinmiyor: menuitem;
$art: meta; // karşılık önerisi, metadata=?artveri, metaverse=?artevren
$bilinmiyor: meter;
$bilinmiyor: margin;
$bilinmiyor: margin-bottom;
$bilinmiyor: margin-left;
$bilinmiyor: margin-right;
$bilinmiyor: margin-top;
$bilinmiyor: mask;
$bilinmiyor: mask-clip;
$bilinmiyor: mask-composite;
$bilinmiyor: mask-image;
$bilinmiyor: mask-mode;
$bilinmiyor: mask-origin;
$bilinmiyor: mask-position;
$bilinmiyor: mask-repeat;
$bilinmiyor: mask-size;
$bilinmiyor: mask-type;
$bilinmiyor: max-height;
$bilinmiyor: max-width;
$bilinmiyor: "@media";
$bilinmiyor: min-height;
$bilinmiyor: min-width;
$bilinmiyor: mix-blend-mode;
// N
$bilinmiyor: nav;
$bilinmiyor: nobr;
$bilinmiyor: noframes;
$bilinmiyor: noscript;
// O
$bilinmiyor: object;
$bilinmiyor: ol;
$bilinmiyor: optgroup;
$bilinmiyor: option;
$bilinmiyor: output;
$bilinmiyor: object-fit;
$bilinmiyor: object-position;
$bilinmiyor: opacity;
$bilinmiyor: order;
$bilinmiyor: orphans;
$bilinmiyor: outline;
$bilinmiyor: outline-color;
$bilinmiyor: outline-offset;
$bilinmiyor: outline-style;
$bilinmiyor: outline-width;
$bilinmiyor: overflow;
$bilinmiyor: overflow-wrap;
$bilinmiyor: overflow-x;
$bilinmiyor: overflow-y;

// P
$bilinmiyor: p;
$bilinmiyor: param;
$bilinmiyor: picture;
$bilinmiyor: plaintext;
$bilinmiyor: pre;
$bilinmiyor: progress;
$bilinmiyor: padding;
$bilinmiyor: padding-bottom;
$bilinmiyor: padding-left;
$bilinmiyor: padding-right;
$bilinmiyor: padding-top;
$bilinmiyor: page-break-after;
$bilinmiyor: page-break-before;
$bilinmiyor: page-break-inside;
$bilinmiyor: perspective;
$bilinmiyor: perspective-origin;
$bilinmiyor: pointer-events;
$bilinmiyor: position;
// Q
$bilinmiyor: q;
$bilinmiyor: quotes;
// R
$bilinmiyor: rp;
$bilinmiyor: rt;
$bilinmiyor: rtc;
$bilinmiyor: ruby;
$bilinmiyor: resize;
$sağ: right;
$bilinmiyor: row-gap;
// S
$bilinmiyor: s;
$bilinmiyor: samp;
$bilinmiyor: script;
$bilinmiyor: scroll-behavior;
$bilinmiyor: section;
$bilinmiyor: select;
$bilinmiyor: shadow;
$bilinmiyor: slot;
$küçük: small;
$bilinmiyor: source;
$bilinmiyor: spacer;
$bilinmiyor: span;
$bilinmiyor: strike;
$bilinmiyor: strong;
$bilinmiyor: style;
$bilinmiyor: sub;
$bilinmiyor: summary;
$bilinmiyor: sup;
// T
$tablo: table;
$bilinmiyor: tbody;
$bilinmiyor: td;
$bilinmiyor: template;
$bilinmiyor: textarea;
$bilinmiyor: tfoot;
$bilinmiyor: th;
$bilinmiyor: thead;
$zaman: time;
$bilinmiyor: title;
$bilinmiyor: tr;
$bilinmiyor: track;
$bilinmiyor: tt;
$bilinmiyor: tab-size;
$bilinmiyor: table-layout;
$metin-hizalama: text-align;
$bilinmiyor: text-align-last;
$bilinmiyor: text-combine-upright;
$bilinmiyor: text-decoration;
$bilinmiyor: text-decoration-color;
$bilinmiyor: text-decoration-line;
$bilinmiyor: text-decoration-style;
$bilinmiyor: text-decoration-thickness;
$bilinmiyor: text-indent;
$bilinmiyor: text-justify;
$bilinmiyor: text-orientation;
$bilinmiyor: text-overflow;
$bilinmiyor: text-shadow;
$bilinmiyor: text-transform;
$bilinmiyor: text-underline-position;
$üst: top;
$bilinmiyor: transform;
$bilinmiyor: transform-origin;
$bilinmiyor: transform-style;
$bilinmiyor: transition;
$bilinmiyor: transition-delay;
$bilinmiyor: transition-duration;
$bilinmiyor: transition-property;
$bilinmiyor: transition-timing-function;
// U
$bilinmiyor: u;
$bilinmiyor: ul;
$bilinmiyor: unicode-bidi;
$bilinmiyor: user-select;
// V
$bilinmiyor: var;
$bilinmiyor: video;
$bilinmiyor: vertical-align;
$bilinmiyor: visibility;
// W
$bilinmiyor: wbr;
$bilinmiyor: white-space;
$bilinmiyor: widows;
$genişlik: width;
$bilinmiyor: word-break;
$bilinmiyor: word-spacing;
$bilinmiyor: word-wrap;
$bilinmiyor: writing-mode;
// X Y Z
$bilinmiyor: xmp;
$bilinmiyor: z-index;

