<header>
    <div data-gnl="22 /24 _o">
        <div class="damga" data-gnl="0 o" style="position:relative;">
            <a href="/" style="position: absolute; top:0; left:0; width:100%; height: 100%;"></a>
            <div data-gnl="0 _o">
                <img src="/assets/images/damga/türkçe_yazılım_konatı_damgası.png" alt="">
            </div>
            <div data-gnl="0 _o">
                <div style="display: block;">
                <h1>{{site.title}}</h1>
                <p>Yazılım dilleri Türkçe tabanlı olsun diye</p>
                </div>
            </div>
            
        </div>
            <input id="menü-0by" type="checkbox" data-kapaç="sağda">
            <label for="menü-0by">•••</label>
            <label for="menü-0by">✕</label>
            <ul data-menü="basit yatay" data-gnl="l" data-kçk="s">
                <li>
                    <a href="/diller">Diller</a> 
                </li>
                <li>
                    <a href="/yazilimca">Yazılımca</a> 
                </li>
                <li>
                    <a href="/kimiz">Kimiz</a> 
                </li>
            </ul>
    </div>
</header>