<header>
    <div data-gnl="22 /24 _o">
        <div class="damga" data-gnl="0" style="position:relative;">
            <a href="/" style="position: absolute; top:0; left:0; width:100%; height: 100%;"></a>
            <div data-gnl="0 _o">
                <img src="/assets/images/damga/türkçe_yazılım_konatı_damgası.png" alt="">
            </div>
            <div data-gnl="0 _o">
                <div style="display: block;">
                <h1>{{site.title}}</h1>
                <p>Yazılım dilleri Türkçe tabanlı olsun diye</p>
                </div>
            </div>
            
        </div>
        <div data-gnl="0">
            <ul>
                <li>
                    <a href="/404">Diller</a> 
                </li>
                <li>
                    <a href="/404">Ölçünler</a> 
                </li>
                <li>
                    <a href="/kimiz">Kimiz</a> 
                </li>
            </ul>
        </div>
    </div>
</header>