<header>
    <div data-gnl="20 /24 _o">
        <div class="damga" data-gnl="0 o" style="position:relative;">
            <a href="/" style="position: absolute; top:0; left:0; width:100%; height: 100%;"></a>
            <div data-gnl="0 _o">
                <img src="{{site.github.owner.avatar_url}}" alt="">
            </div>
            <div data-gnl="0 _o">
                <div style="display: block;">
                <h1>{{site.github.owner.name}}</h1>
                </div>
            </div>
            
        </div>
        {% include sechek.html %}

    </div>
</header>