html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    padding:36px 0px 10px 0px;
    border-bottom: 1px solid #eee;
}
main{
    padding:40px 0px;
}
.damga img{
    width:64px;
    height: 64px;
    margin: 5px 10px 5px 0px;
}
.damga h1{
    font-size:15pt;
    margin:0;
    font-weight: bold;
}
.damga p{
    margin:-3px 0 3px 0;
    font-size:0.7em;
    background: #FF0000;
    background: -webkit-repeating-radial-gradient(ellipse farthest-corner at bottom center, #FF0000 0%, #432CD4 50%, #FF0000 100%);
    background: -moz-repeating-radial-gradient(ellipse farthest-corner at bottom center, #FF0000 0%, #432CD4 50%, #FF0000 100%);
    background: repeating-radial-gradient(ellipse farthest-corner at bottom center, #FF0000 0%, #432CD4 50%, #FF0000 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
code{
  display:block;
  background-color:#fff;
  border:1px solid #ccc;
  border-left:5px solid black;
  padding: 10px;
}
.örnek{
  display: block;
  padding: 20px;
  background-color: #eee;
  border-left:6px solid orange;
}
/*---------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap');
.cards{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}
.cards{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}
.cards h1{
  font-size: 40px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services{
  box-sizing: border-box;
}
.content{
    box-sizing:content-box;

  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 4px;
  transition: all .3s ease;
}
.content .fab{
  font-size: 70px;
  margin: 16px 0;
}
.content > *{
  flex: 1 1 100%;
}
.content:hover, .content:hover h2{
  color: white;
}
.content:hover a{
  border-color: white;
  background: white;
}
.content-1:hover{
  border-color: #4267B2;
  background: #4267B2;
}
.content-1:hover a{
  color: #4267B2;
}
.content-2:hover{
  border-color: #075e54;
  background: #075e54;
}
.content-2:hover a{
  color: #075e54;
}
.content-3:hover{
  border-color: #ff0000;
  background: #ff0000;
}
.content-3:hover a{
  color: #ff0000;
}
.content h2{
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content p{
  font-size: 17px;
  font-family: 'Poppins',sans-serif;
}
.content a{
  margin: 22px 0;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 15px 0;
  border-radius: 25px;
  transition: .3s ease;
}
.content a:hover{
  border-radius: 4px;
}


/* -----------------------------------
    MENÜ 0.01
   ----------------------------------- */

/* Genel */
ul[data-menü],
[data-menü] ul{
  padding:0;
  margin:0;
}
[data-menü] li{
  display: flex;
}
[data-kapaç] {
  display: none;  /* input her zaman gizlenir. */
}
[data-menü] li>label,
[data-menü] li>a{
  display: flex;
  flex:1;
  cursor: pointer;
}
[data-kapaç]+label{
  display: flex;
}
[data-kapaç]+label+label{
  display: none;
}
a+[data-kapaç]+label,
a+[data-kapaç]+label+label{
  flex:0 0 auto !important;
  width:auto;
}

[data-kapaç]:checked+label,
[data-kapaç]+label+label {
  display: none;
}

[data-kapaç]+label,
[data-kapaç]:checked+label+label {
  display: flex;
}

[data-kapaç~="sağda"]+label,
[data-kapaç~="sağda"]+label+label {
  margin-left: auto;  /* menü kapacı sağa ötelenir */
  order: 98;  /* menü kapacı nerede olursa olsun en sondadır */
}
[data-kapaç~="sağda"]+label>a,
[data-kapaç~="sağda"]+label+label>a{
  margin-right:auto;
}
[data-kapaç~="solda"]+label>a,
[data-kapaç~="solda"]+label+label>a{
  margin-left:auto;
}
[data-kapaç~="solda"]+label,
[data-kapaç~="solda"]+label+label {
  margin-right: auto;  /* menü kapacı sola ötelenir */
  order: -98;  /* menü kapacı nerede olursa olsun en baştadır */
}
[data-kapaç]+label+label+ul {
  display: none;
  /* Varsayılan olarak gizli */
  width: 100%;
  /* Tam genişlik sebebiyle altta görünecek */
  order: 99;
  /* En son sırada olacağı için kod sırası önemsiz, karmaşa olmayacak. */
}
[data-kapaç]:checked+label+ul,
[data-kapaç]:checked+label+label+ul {
  display: flex;
  /* kapaç tetiklendiğinde menü görünür olur */
  flex-wrap: wrap;
  width:100%;
}
[data-menü~="dikey"] {
  flex-direction: column;
}
[data-menü~="dikey"] li {
  display: flex;
  /* en dış li hariç içerdeki liler flex olacak */
  align-items: center;
  flex-wrap: wrap;
}
[data-menü~="dikey"] li > ul {
  display:flex;
  flex-direction: column;
  width:100%;
}

[data-kapaç~="çaprazlama"]:checked+label,
[data-kapaç~="çaprazlama"]+label+label{
  display:flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width:auto;
  flex-wrap:nowrap;
}
[data-kapaç~="çaprazlama"]+label,
[data-kapaç~="çaprazlama"]:checked+label+label{
  display:none;
}
[data-kapaç~="çaprazlama"][data-kapaç~="gizle"]+label,
[data-kapaç~="çaprazlama"][data-kapaç~="gizle"]+label+label{
  display:none;
}


/* KÜÇÜK EKRANLAR */
@media screen and (max-width:578.9px) {

}
/* BÜYÜK EKRANLAR */
@media screen and (min-width:768px) {
  [data-kapaç]+label,
  [data-kapaç]+label+label,
  [data-kapaç]:checked+label+label{
    display: none;
  }
  [data-kapaç~="çaprazlama"]:checked+label,
  [data-kapaç~="çaprazlama"]+label+label{
    display:none;
  }
  [data-kapaç]:checked+label+ul,
  [data-menü] [data-kapaç]:checked+label+label+ul,
  [data-menü] [data-kapaç]:checked+label+label{
    display:flex;
  }
  [data-menü] {
    display: flex !important;
    flex: 1;
    flex-wrap:wrap;
  }
}
/* ----------------------------------------------- */
[data-menü~="yatay"][data-menü~="basit"]{
  overflow-x: auto;
  flex-wrap: nowrap !important;
}

[data-menü~="yatay"][data-menü~="basit"] > li a{
  padding:5px 10px;
  text-decoration: none;
  padding-top: 11px;
}
[data-menü~="yatay"][data-menü~="basit"] > li:first-child a{
  padding-left:0;
}
[data-menü~="yatay"][data-menü~="basit"] > li:last-child a{
  padding-right:0;
}
label[for="menü-0by"]{
  padding:5px 10px;
  padding-right: 0;
}
[data-menü~="yatay"][data-menü~="basit"] > li a{
  display: inline-block;
}
[data-menü~="yatay"][data-menü~="basit"] > li a::after {
    content: '';
    display: block;
    width: 0;
    height: 6px;
    background: #626dd4;
    transition: width .3s;
    margin-top:3px;
}

[data-menü~="yatay"][data-menü~="basit"] > li a:hover::after {
    width: 100%;
}

